#blog-container {
	width: 80%;
    margin: 0 auto;
}

#blog-container h1 {
	margin-top: 1.5em;
	margin-bottom: 3em;
}

.posts {
	list-style-type: none;
}

.post {
	margin-bottom: 100px;
}

.post-title {
	padding-top: .8em;
}

.post-date {
	float: left;
	text-align: center;
	font-size: .8em;
	background: #2769A5;
	position: relative;
	padding: 0 .5em;
	margin: 0 3em;
	width: 67px;
}

.post-date:before {
	content: "";
	position: absolute;
	top: -20px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 40px solid transparent;
	border-right: 40px solid transparent;
	border-bottom: 20px solid #2769A5;
}
.post-date:after {
	content: "";
	position: absolute;
	bottom: -20px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 40px solid transparent;
	border-right: 40px solid transparent;
	border-top: 20px solid #2769A5;
}

.post-date span {
	display: block;
	background-color:rgba(0,0,0,0);
	color: #F7F7F7;
}


@media (max-width: 767px) {
	#blog-container {
		width: 100%;
	}
	.post-date {
		margin-left: 0;
		margin-right: 10px;
	}
	.post-title {
		padding-top: .2em;
	}
}


