@font-face {
  font-family: 'UbuntuLight';
  src: url('../fonts/Ubuntu-L.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu-R.ttf');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: UbuntuLight;
  color: #4A4A4A;
  background-color: #F7F7F7;
  margin: 0px 0px 0px 0px;
}

header {
  font-family: Ubuntu;
  background-color: #F7F7F7;
  width: 100%;
  height: 100px;
}

a {
  text-decoration: none;
}

a:hover {
  color: maroon;
}

header div {
  text-align: center;
}

header div a {
  color: #4A4A4A;
  text-decoration: none;
  margin-right: 10px;
}
header div a:last {
  margin-right: 0px;
}

.posts li {
  margin-bottom: 5px;
}

#header_name {
  text-decoration: none;
}

#header_name:visted {
  color: #4A4A4A;
}

#inner {
  vertical-align: middle;
}

h1 {
  color: #FF6138;
}

#main-content{
  margin: 0px 4%;
}

/* Shrink stuff for mobile */
@media (max-width: 767px) {
  header {
    height: 75px;
  }
  
  #header_name {
    font-size: .8em;
  }
  
  h1 {
    margin: 5px 0;
  }
  
  #main-content {
    	margin: 0px 2%;
  }
}