<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/stylesheets/default_layout.css" media="screen" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <title> {{ page.title }} </title>
  </head>

  <body>
    <header id="main-header">
      <div class="inner">
        <h1><a href="{{ site.url }}/" id="header_name"> {{ site.name }} </a></h1>
        <a href="https://www.github.com/banashek"><span class="fa fa-github-square fa-2x"></span></a>
        <a href="{{ site.url }}/blog.html">Blog</a>
        <a href="{{ site.url }}/about.html">About</a>
        <a href="{{ site.url }}/portfolio.html">Portfolio</a>
        <a href="https://www.linkedin.com/pub/jonathan-banashek/30/409/758"><span class="fa fa-linkedin-square fa-2x"></span></a>
      </div>
    </header>

    <!--Include animated background on home page-->
    {% if page.title != 'Banahome' %}
      <link rel="stylesheet" type="text/css" href="/stylesheets/hero.css" media="screen" />
      {% include hero.html %}
    {% else %}
	<link rel="stylesheet" type="text/css" href="/stylesheets/animated_background.css" media="screen" />
      {% include animated_background.html %}
    {% endif %}

    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">

          {{ content }}

        </section>
      </div>
    </div>
  </body>
</html>
